<mat-list role="list" class="sidebar">
    <mat-list-item class="custom__mat-list" role="listitem">Case Initiated</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Scrunity</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Data Entry</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Checker</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Import/Export</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Physical Verification</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem">Reports</mat-list-item>
    <mat-list-item class="custom__mat-list" role="listitem"> Admin</mat-list-item>
</mat-list>