<app-header></app-header>

<mat-drawer-container class="app-container">
    <mat-drawer mode="side" class="custom__mat-drawer" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content class="app-content">

        <form class="matformfiled" [formGroup]="loginForm">

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>
                </mat-label>

                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName'>

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>

                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">

                <mat-label>

                </mat-label>
                <input matInput placeholder="username" style="color: #81003c" formControlName='userName' />

                <!-- <mat-hint>Hint</mat-hint> -->
                <mat-error *ngIf="
          loginForm.controls['userName'].hasError('required')
          ">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label></mat-label>
                <input matInput placeholder="***********" type="password" style="color: #81003c" formControlName='Password' />

                <!-- <mat-hint>Hint</mat-hint> -->

            </mat-form-field>

        </form>

    </mat-drawer-content>

</mat-drawer-container>



<!-- 
<span class="material-icons">
  person
</span>
<a href="" target="" class="user__link">User 1</a>
<button mat-raised-button class="logout__button">Logout</button> -->