.app-container {
    height: 94vh;
    width: 100%;
    background-color: white;
}

.app-content {
    display: flex;
    flex-direction: column;
    margin-top: -54px;
    overflow: hidden !important;
    height: 100vh;
}

.custom__mat-drawer {
    margin-top: 62px;
    /* width: 234px; */
    background-color: #e1e8f0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* height: 85vh; */
}

.logout__button {
    position: absolute;
    top: 66px;
    right: 250px;
    z-index: 3;
    width: 150px;
    height: 47px;
    background-color: #81003c;
    font-size: x-large;
}

.user__link {
    position: absolute;
    top: 78px;
    right: 484px;
    z-index: 3;
    width: 107px;
    height: 39px;
    color: #81003c;
    font-size: xx-large;
    font-weight: 100;
}

.material-icons {
    /* position: absolute; */
    top: 30px;
    right: 100px;
    z-index: 2;
    /* font-size: xxx-large; */
}

.padding {
    padding-left: 16px;
}

.user-table {
    border-collapse: collapse;
    width: 100%;
}

.user-table th,
.user-table td {
    text-align: left;
    padding: 8px;
}

.nav-spacer {
    flex: 1 1 auto;
}


/* .user-table tr:nth-child(even) {
    background-color: #f2f2f2
  } */

.user-table th {
    background-color: #e1e8f0;
    color: #81003c;
}

mat-card {
    color: black;
    background-color: white;
    margin: 10px;
    top: 0%;
}

.matformfiled {
    padding-left: 20%;
    padding-top: 10%;
}


/* .btnside{
    width: 60%;
    margin-left: 10%;
  } */

.mat-card-actions {
    margin-left: 30%;
    margin-right: -8px;
    padding: 8px 0;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    width: 30%;
    margin-left: 25%;
}

.login-content {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: inline-flex;
    place-content: stretch flex-start;
    align-items: stretch;
    flex: 1 1 60%;
    max-width: 60%;
    margin: 0;
    padding: 0;
}

.content {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.login-content {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: inline-flex;
    place-content: stretch flex-start;
    align-items: stretch;
    flex: 1 1 60%;
    max-width: 60%;
    margin: 0;
    padding: 0;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: white !important;
    color: #81003c;
    /* border: 1px solid black; */
}

 ::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: #81003c;
}

.card-container {
    flex-flow: column wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    align-self: left;
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: black
}

.card-content {
    display: flex;
    justify-content: left;
    align-items: left;
    align-self: left;
}


/* .mat-form-field-label{
    color:green !important;
  }
  .mat-form-field-underline{
    background-color:green !important;
  } */

.content-left img {
    width: 100%;
    height: 100%;
}

.full-width {
    margin: 1%;
    width: 80%;
    border: black;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 10px;
    color: red;
}

mat-card {
    background-color: white;
    bottom: 20%;
    width: 5%;
    height: 5%;
    /* height: 110%; */
}


/*   

.mat-icon{
     position: absolute;
    top: 64px;    
} */