<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <app-card [data]="data1[0]"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card [data]="data1[1]"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card [data]="data1[2]"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card [data]="data1[3]"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card [data]="data1[4]"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-card [data]="data1[5]"></app-card>
    </mat-grid-tile>
</mat-grid-list>